# Hidden
.*
_*

# Folders
backup/*
challenge_data/*
challenge_resources/*

# Other
*.html  # should be used for preview purposes only
*.bak
*.egg-info

# Submissions are crappy anyway
scripts
submissions

